<section class="section-wrapper cmp-teaser-bottom-video component-content purple--color">
	<div class="section-container">
		<div class="cmp-teaser__content">
			<div class="row">
				<div class="col-md-6 col-xs-12 col-md-offset-6 col-xs-offset-0">
					<h2 class="cmp-teaser__content__item__eyebrow">diveristy, Equity and inclusion</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h3 class="cmp-teaser__content__item__title col-sm-10 col-xs-12">Shared values, priorities, and vision</h3>
				</div>
				<div class="col-sm-6 col-xs-12">
					<h3 class="cmp-teaser__content__item__desc">Chubb is built on exacting standards, shared values and a can-do attitude. We work every day to create a productive, rewarding and balanced environment, and we are unified in our vision to build something great, to serve society and leave the world a better place. </h3>
					<div class="primary_btn">
						<a href="https://google.com" target="_blank" class="btn btn-default primary_white " aria-disabled="true">
							<span>Learn more about DE&I </span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12 cmp-teaser__content__image">
					<picture>
					<source media="(min-width: 768px)" srcset="clientlib-site/resources/images/image.agent.png">
						<source media="(max-width: 767px)" srcset="clientlib-site/resources/images/image-bottom.jpg">
						<img src="clientlib-site/resources/images/image-bottom.jpg"/>						
					</picture>
					<img src="clientlib-site/resources/images/play-icon.png" class="play-button" data-toggle="modal" data-target="#exampleModal"/>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Modal -->
<div class="modal fade video-modal bc-video-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">Close <em class="icon icon-close"></em></span>
			</button>
			<div class="modal-body">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/hPqV7KEX46M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen/>
			</div>
		</div>
	</div>
</div>