.cmp-teaser--eybrow {
  .cmp-teaser__content__item__eyebrow {
    display: none;
  }
}
.cmp-teaser--title {
  .cmp-teaser__content__item__title {
    display: none;
  }
}
.cmp-teaser--desc {
  .cmp-teaser__content__item__desc {
    display: none;
  }
}
