<section class="section-wrapper cmp-card-component cmp-color-container--yellow cmp-content-padding">
	<div class="section-container">
		<div class="cmp-card__content">	
			<div class="cmp-card__imagegallery">
				<div class="row row-list">
					<div class="col-md-3 featured-flex-box-4__item">
						<div class="cmp-card__imagegallery__list">
							<picture>
								<img src="/clientlib-site/resources/images/img-gallery1.jpg" alt="img-gallery">
							</picture>
						</div>
					</div>
					<div class="col-md-3 featured-flex-box-4__item">
						<div class="cmp-card__imagegallery__list cmp-card__imagegallery__list__bottom">
							<picture>
								<img src="/clientlib-site/resources/images/img-gallery2.jpg" alt="img-gallery">
							</picture>
						</div>
					</div>
					<div class="col-md-3 featured-flex-box-4__item">
						<div class="cmp-card__imagegallery__list">
							<picture>
								<img src="/clientlib-site/resources/images/img-gallery3.jpg" alt="img-gallery">
							</picture>
						</div>
					</div>
					<div class="col-md-3 featured-flex-box-4__item">
						<div class="cmp-card__imagegallery__list cmp-card__imagegallery__list__bottom">
							<picture>
								<img src="/clientlib-site/resources/images/img-gallery4.jpg" alt="img-gallery">
							</picture>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section> 