<div class="cmp-card" role="link">
	<div class="cmp-card__container">
		<h4 class="cmp-card__container__title">Streamlined quotation process</h4>
		<p class="cmp-card__container__desc">An automated system lets us quote, bind, bill and issue policies quickly
			and efficiently through your broker.</p>
		<div class="cmp-featured__content__item__link">Read More<em class="icon-arrow"></em></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="cmp-card cmp-card__bottom" role="link">
			<div class="cmp-card__container">
				<div class="cmp-card__container__number">94%</div>
				<p class="cmp-card__container__desc">of Global Fortune 1,000 companies insured by Chubb</p>
			</div>
		</div>
	</div>
	<section class="section-wrapper cmp-card-component cmp-color-container--yellow cmp-content-padding">
		<div class="section-container">
			<div class="cmp-card__content">
				<div class="cmp-card__content__header">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="cmp-card__content__item__eyebrow eyebrow-text">METRICS AND TARGETS</h2>
						</div>
					</div>
					<div class="row featured-flex-box-2-grid5-7">
						<div class="col-lg-5 col-sm-6 col-xs-12 featured-flex-box-2-grid5-7__item">
							<h3 class="cmp-card__content__item__title h3-heading">Greenhouse Gas Emissions</h3>
						</div>
						<div class="col-lg-7 col-sm-6 col-xs-12 featured-flex-box-2-grid5-7__item">
							<p class="cmp-card__content__item__desc body-copy-large">Chubb is committed to reducing
								greenhouse gas emissions through a combination of real estate portfolio optimization,
								energy efficiency projects and renewable electricity purchase. Our goals are aligned
								with the two-degree Celcius target oulined in the Paris Climate Agreement, as well as
								the methodology of the United Nations Environmental Program. </p>
						</div>
					</div>
				</div>
				<div class="row cmp-card__row mobile-carousel featured-flex-box-3">
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">22%</div>
								<p class="cmp-card__container__desc body-copy-large">GHG emission reduction in the
									company’s operations between 2016 and 2019.</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">40%</div>
								<p class="cmp-card__container__desc body-copy-large">Our GHG emission reduction goal by
									2035 (from a 2016 baseline).</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">45,000</div>
								<p class="cmp-card__container__desc body-copy-large">Yearly expected reduction of metric
									tons of CO2 equivalent by 2035.</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">22%</div>
								<p class="cmp-card__container__desc body-copy-large">GHG emission reduction in the
									company’s operations between 2016 and 2019.</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">40%</div>
								<p class="cmp-card__container__desc body-copy-large">Our GHG emission reduction goal by
									2035 (from a 2016 baseline).</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">45,000</div>
								<p class="cmp-card__container__desc body-copy-large">Yearly expected reduction of metric
									tons of CO2 equivalent by 2035.</p>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-wrapper cmp-card-component cmp-color-container--yellow cmp-content-padding">
		<div class="section-container">
			<div class="cmp-card__content">
				<div class="cmp-card__content__header">
					<div class="row">
						<div class="col-lg-12 col-md-6">
							<h2 class="cmp-card__content__item__eyebrow eyebrow-text">FACTS & FIGURES</h2>
						</div>

						<div class="col-lg-12 col-md-6">
							<h3 class="cmp-card__content__item__title h3-heading">Chubb by the numbers</h3>
						</div>

					</div>
				</div>
				<div class="row cmp-card__row  mobile-carousel featured-flex-box-3">

					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">
								<div class="cmp-card__container__number h1-heading">#1</div>
								<p class="cmp-card__container__desc body-copy-large">publicly traded P&C insurer</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">600</div>
								<p class="cmp-card__container__desc body-copy-large">offices worldwide</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">94%</div>
								<p class="cmp-card__container__desc body-copy-large">of global Fortune 1000 companies insured by Chubb
								</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">$41B</div>
								<p class="cmp-card__container__desc body-copy-large">of gross premiums written </p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">AA</div>
								<p class="cmp-card__container__desc body-copy-large">Standard & Poor’s rating</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">A++</div>
								<p class="cmp-card__container__desc body-copy-large">A.M. Best rating</p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">31,000</div>
								<p class="cmp-card__container__desc body-copy-large">employees worldwide </p>


							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
						<div class="cmp-card cmp-card__bottom" role="link">
							<div class="cmp-card__container">

								<div class="cmp-card__container__number h1-heading">S&P 500</div>
								<p class="cmp-card__container__desc body-copy-large">Chubb is listed on the NYSE ETF</p>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>