<section class="section-wrapper cmp-card-component cmp-color-container--dark-blue cmp-content-padding">
	<div class="section-container">
		<div class="cmp-card__content">
			<div class="cmp-card__content__header cmp-card__header">
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card cmp-card-without-bg" role="link" >
						<div class="cmp-card__container">
							<h2 class="cmp-card__container__eyebrow eyebrow-text">Metrics and Accountability</h2>
							<h3 class="cmp-card__container__title h3-heading">Conversation liveable efficient.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row cmp-card__row  mobile-carousel featured-flex-box-3">				
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card" role="link" >
						<div class="cmp-card__container">
							
								<h4 class="cmp-card__container__title h4-heading">Streamlined quotation process</h4>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card" role="link" >
						<div class="cmp-card__container">
						   
								<h4 class="cmp-card__container__title h4-heading">Forbes Best Employers for New Grads</h4>
						  
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card" role="link" >
						<div class="cmp-card__container">
							
								<h4 class="cmp-card__container__title h4-heading">No. 1 Military Friendly Employer for 2019 by VIQTORY</h4>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card" role="link" >
						<div class="cmp-card__container">
						  
								<h4 class="cmp-card__container__title h4-heading">HRC Corporate Equality Index Score 100% “Best Place to Work for LGBTQ Equality”</h4>
								
						   
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>
<section class="section-wrapper cmp-card-component cmp-color-container--yellow cmp-content-padding">
	<div class="section-container">
		<div class="cmp-card__content">
			<div class="cmp-card__content__header cmp-card__header">
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card cmp-card-without-bg" role="link" >
						<div class="cmp-card__container">
							<h2 class="cmp-card__container__eyebrow eyebrow-text">Metrics and Accountability</h2>
							<h3 class="cmp-card__container__title h3-heading">Conversation liveable efficient.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row cmp-card__row  mobile-carousel featured-flex-box-3">				
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card" role="link" >
						<div class="cmp-card__container">
							
								<h4 class="cmp-card__container__title h4-heading">Streamlined quotation process</h4>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card" role="link" >
						<div class="cmp-card__container">
						   
								<h4 class="cmp-card__container__title h4-heading">Forbes Best Employers for New Grads</h4>
						  
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card" role="link" >
						<div class="cmp-card__container">
							
								<h4 class="cmp-card__container__title h4-heading">No. 1 Military Friendly Employer for 2019 by VIQTORY</h4>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 featured-flex-box-3__item">
					<div class="cmp-card" role="link" >
						<div class="cmp-card__container">
						  
								<h4 class="cmp-card__container__title h4-heading">HRC Corporate Equality Index Score 100% “Best Place to Work for LGBTQ Equality”</h4>
								
						   
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>