<section class="section-wrapper col1   orange--color cmp-content-padding ">
    <div class="section-container">
        <!-- col1__content__image -->
        <div class="col1__content   col1__content__video-col  ">
            <div class="row">
                <div class="col-sm-2 main_title">
                    <div class="content__title">
                        <h2 class="title-text">Title</h2>
                    </div>
                </div>
                <div class="col-sm-10 ">
                    <div class="row col1__content__row ">
                        <!--  d-md-none d-lg-none d-sm-none -->
                        <div class="col-sm-2 order1">
                            <div class="col1__content__title">
                            <div class="content__title">
                                <h2 class="title-text">Title</h2>
                            </div>
                        </div>
                        </div>
                <div class="col-lg-5 col1__content__item order2">
                <div class=" col1__content__text">		
                                    <!-- col1__content__text__title -->
                        <h3 class="  image-title">Culture is the foundation of how things get done</h3>
                        <div class="body-copy-large">
                            <p>DE&I is integral to our culture and therefore employee policies, procedures and systems reflect this commitment.</p>
        
                               <p> We are taking action to enhance processes to review HR-related decisions in real-time to identify and mitigate unconscious bias in hiring, promotions, pay and performance assessments.</p>
                                
                             <p> Our initiatives to enhance our pipeline diverse talent and talent are readiness through recruitment, development and mentoring are discussed in the Inclusive Hiring section of this website.</p>
                        </div>
                        <div class="col1__content__text__cta">
                            <div class="secondary_btn ">
                                <a href="javascript:void(0)" class="btn btn-default" tabindex="1">
                                    Read more<span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col1__content__item order3  ">
					<div class="video__content__vedio-img " >						
						<picture>
							<img src="clientlib-site/resources/images/image-bottom.jpg"/>
							<img src="clientlib-site/resources/images/play-icon.png" alt="Play icon" class="play-button " data-toggle="modal" data-target="#videoModal--679672512"/>
						</picture>                       
                    </div>
                    <!-- <div class="col1__content__color yellow--color" >
                        <h3 class="col1__content__color__title">Recognizing Achievement with Promotion</h3>
                        <div class="body-copy-large"><p>Kamonrat Tangseemasap’s manager recognized her as a top performer at Chubb Thailand—and he wanted to support her career development. With an opening in the C-suite, Kamonrat transitioned into the role of CFO with support from her Country President. Kamonrat says she is “thrilled the company values my presence and performance .” </p>
                        </div>
                    </div> -->
                    <!-- <div class="col1__content__img ">
                        <picture>
                            <img src="clientlib-site/resources/images/image-bottom.jpg" alt="" >
                        </picture>							
                    </div> -->
                </div>
            </div>
            </div>
            
                
            </div>
        </div>
    </div>
</section>
<div class="modal fade video-modal bc-video-modal" id="videoModal--679672512" tabindex="-1" role="dialog" aria-labelledby="VideoModal-2103706677" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><em class="icon icon-close"></em></span>
            </button>
            <div class="modal-body">
               
             
                  <div class="video-player">
                    <div style="padding-top: 51.5%;">
                        <video muted id="video-6200496744001" data-id="video-6200496744001" data-account="818971943001" data-video-id="6200496744001" data-player="default" data-embed="default" class="video-js" controls style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;"> </video>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>