.cmp-rte--red{
         color:red;         
     }
.cmp-rte--yellow{
         color:yellow;         
     }
.cmp-rte--green{
         color:green;         
     }
 

.cmp-rte-bottom--none{
		margin-bottom: 0px;
	}
.cmp-rte-bottom--small{
		margin-bottom: 7.5px;
	}
.cmp-rte-bottom--medium{
		margin-bottom: 15px;
	}
.cmp-rte-bottom--large{
		margin-bottom: 30px;
	}


